.contacts{
    padding:10px 90px;
    margin-bottom:40px;
    display:flex;
    justify-content: center;
    gap:10%;
    font-size: 12px;
}
.card{
    border: 3px solid black;
    border-radius: 30px;
    padding: 20px 20px;
    width:25%;
    text-decoration: none;
    color:black;
}
.card:hover{
    transform: translateY(-20px);
}
.card i{
    display:flex;
    justify-content: center;
    font-size: xx-large;
    margin-bottom:20px;
}
.card h1{
    display: flex;
    justify-content: center;
    margin:5px;
}
.card h2{
    display: flex;
    justify-content: center;
    margin:2px;
}
.card h3{
    display: flex;
    justify-content: center;
    text-align: justify;
    margin:5px;
}
@media screen and (max-width: 768px){
    .card h1{
        font-size: medium;
    }
    .card h2{
        font-size: small;
    }
    .card h3{
        font-size: 12px;
    }
    .card{
        width:55%;
        height:200px;
    }
}